#range-radio-buttons {
  border-width: 0;
}

#range-radio-buttons label {
  display: block;
}

.wrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.slider input[type=range] {
  display: inline-block;
}

.slider label {
  display: inline-block;
  min-width: 40px;
}

.outputs {
  margin-left: 50px;
}
