.wrapper {
  display: flex;
  flex-direction: row;
}

.slider input[type=range] {
  display: inline-block;
}

.slider label {
  display: inline-block;
  width: 40px;
}

.outputs {
  margin-left: 50px;
}
